/*= @group Fonts
---------------------------------------------------------------------- */

@font-face {
	font-family: Din;
	src: font-url('cfdin-b0.eot');
	src: font-url('cfdin-b0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 